<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="signup.component.css">
</head>
<body>
    <div class="heading">
        <h1>Sorobon Abacus</h1>
    </div>
  <div class="container">
    <div class="title">School Registration</div>
    <div class="content">
      <form [formGroup]="signupForm">
        <div class="user-details">


          <div class="input-box" >
            <span class="details">School Name</span>
            <input type="text" formControlName="schoolName" placeholder="Enter school name">
            <div *ngIf="signupForm.controls['schoolName'].touched">
              <span *ngIf="signupForm.controls['schoolName'].errors?.['required']" class="alert">school name is required</span>

            </div>
          </div>


          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" formControlName="address" placeholder="Enter school address" required>
            <div *ngIf="signupForm.controls['address'].touched">
              <span *ngIf="signupForm.controls['address'].errors?.['required']" class="alert">Address is required</span>

            </div>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" formControlName="email" placeholder="Enter email id" required>
            <div *ngIf="signupForm.controls['email'].touched">
              <span *ngIf="signupForm.controls['email'].errors?.['required']" class="alert">email is required</span>
              <span *ngIf="signupForm.controls['email'].errors?.['email']" class="alert">Enter a valid email</span>



            </div>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" formControlName="phoneNumber" placeholder="Enter your number" required>
            <div *ngIf="signupForm.controls['phoneNumber'].touched">
              <span *ngIf="signupForm.controls['phoneNumber'].errors?.['required']" class="alert">Phone number is required</span>
              <span *ngIf="signupForm.controls['phoneNumber'].invalid" class="alert">Enter a valid phone number</span>



            </div>
          </div>

          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" formControlName="password" placeholder="Enter your password" required>
            <div *ngIf="signupForm.controls['password'].touched">
              <span *ngIf="signupForm.controls['password'].errors?.['required']" class="alert">password is required</span>

            </div>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      <p>Existing User? <a [routerLink]="['/user/login']" routerLinkActive="router-link-active" >Login</a></p>
    </div>
  </div>
</body>
</html>