<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="signup.component.css">
</head>
<body>
    <div class="heading">
        <h1>Sorobon Abacus</h1>
    </div>
  <div class="container">
    <div class="title">School Registration</div>
    <div class="content">
      <!-- Registration form -->
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">School Name</span>
            <input type="text" placeholder="Enter school name" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter school address" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter email id" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>
</html>